@model List<EmployerModel>

@{
    ViewData["Title"] = "JobHunting Page";
}

<div class=" container mb-5 row-cols-auto d-grid justify-content-center mt-5">
	<div class="row">
		<div class="col ms-5 me-5 mb-4">
			<button  type="submit" class="btn filterbtn btn-outline-dark active" value="All" name="AllButton" onclick="changeContent('All')" >All</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button  type="submit" class="btn filterbtn btn-outline-secondary" value="EducationButton" name="EducationButton" onclick="changeContent('Education')">Education</button>
		</div>
		<div class="col">
			<button  type="submit" class="btn filterbtn btn-outline-secondary" value="TechnologyButton" name="TechnologyButton" onclick="changeContent('Technology')">Technology</button>
		</div>
		<div class="col">
			<button  type="submit" class="btn filterbtn btn-outline-secondary" value="HealthcareButton" name="HealthcareButton" onclick="changeContent('Healthcare')">Healthcare</button>
		</div>
		<div class="col">
			<button  type="submit" class="btn filterbtn btn-outline-secondary" value="FinanceButton" name="FinanceButton" onclick="changeContent('Finance')">Finance</button>
		</div>
		<div class="col">
			<button  type="submit" class="btn filterbtn btn-outline-secondary" value="EntertainmentButton" name="EntertainmentButton" onclick="changeContent('Entertainment')">Entertainment</button>
		</div>
	</div>
</div>


<div class="container">
    <div class="row row-cols-4 mt-5" id="container">
		@foreach (var emp in Model)
		{
			<div class="col d-flex justify-content-center" style=" display: none">
				<a asp-controller="Home" asp-action="JobOffer" asp-route-id="@emp.Id" class="text-decoration-none">
					<div class="card shadow-lg mb-5 rounded offer-box" style="width:19rem" id=@emp.Field>
						<div class="row d-flex justify-content-center text-decorations-none p-4">
							<img src="@emp.CoverImage" class="card-img-top" style="height:250px;width:90%" />
						</div>
						    <div class="card-body">
							<div class="row">
								<p class="card-text text-dark fw-semibold">@emp.Name</p>
							</div>
							<div class="row">
								<p class="card-text text-secondary badge">@emp.Field</p>
							</div>
							<hr class="text-dark">
							<div class="row">
								<p class="card-text text-muted badge mb-1" style="font-size:10px">@emp.StartDate</p>
							</div>
							<samp>
								<p class="card-text text-secondary OffersCardDesc" style="font-size:13.5px;height:55px">@emp.Description</p>
							</samp>
							<hr class="text-secondary">
						</div>
					</div>			
        	    </a>
			</div>
		}
	</div>
</div>